#profile{
    width: 50%;
    height: 420px;
    background: #fff ;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 30px 25%;
}
#profName{
    font-size: 25px;
    font-weight: 500;
}
#profileNumber{
    margin-bottom: 20px;
}
#profile>a{
    text-decoration: none;
    margin-top: 30px;
    font-size: 25px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 8px;
}